<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col-6">© 2018 door Nomi Van Gool<br>
        Bacholorproef in opdracht van de Arteveldehogeschool</div>

        <div class="col-6">Huisstijlgids van de Vlaamse Vereniging voor Weerkunde<br>
        De VVW is een werkgroep van de Vlaamse Vereniging voor Sterrekunde<br>
        Stijn Helsen | werkgroepleider
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>