<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col-lg-2 col-0"></div>
        <div class="col-lg-2 col-12">© 2018 door Nomi Van Gool<br>
        Bacholorproef in opdracht van de Arteveldehogeschool</div>
        <div class="col-lg-1 col-12"></div>
        <div class="col-lg-2 col-12">Huisstijlgids van de VVW<br>
        Stijn Helsen | werkgroepleider
        </div>
        <div class="col-lg-2 col-12">
                <a href="mailto:stijnhelsen@skynet.be" target="_top"><button>Stuur een mail</button></a>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>