/* ------------ GLOBAL ------------ */
@font-face {
  font-family: Muli;
  src: url('/assets/fonts/Muli-regular.ttf');
}

@font-face {
  font-family: Muli-Extrabold;
  src: url('/assets/fonts/Muli-Extrabold.ttf');
}

@font-face {
  font-family: Muli-Italic;
  src: url('/assets/fonts/Muli-Italic.ttf');
}

body {
  font-family: 'Muli', 'Trebuchet MS', sans-serif;
  color: #3C3C3B;
}

h1, h2 {
  font-family: 'Muli', 'Trebuchet MS', sans-serif;
  color: #3C3C3B;
}

a {
  color:#66C1BF;
  border-bottom:1px solid #66C1BF;
  padding-bottom:2px;
}

a:hover {
  color: #498B89;
  border-bottom: 1px solid #498B89;
}

blockquote {
  padding-left: 24px;
  border-left: 2px solid #E73458;
}

/* ------------ NAVBAR ------------ */
.navbar a {
    border: none;
    padding:17px;
}

.nav-link a{
    color:red;
}

.logo {
  width:200px;
}

/* ------------ TYPOGRAFIE ------------ */
.extra-bold {
  font-family: 'Muli-Extrabold';
}

.italic {
  font-family: 'Muli-Italic';
}

/* ------------ FOOTER ------------ */
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color: $mycolor-2;
    color: $color-white;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
}

/* ------------ BACK TO TOP ------------ */
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-5; 
  }
}