/* ------------ GLOBAL ------------ */

#body {
  padding-left:50px;
}

.strong {
  font-weight:800;
}

.opgelet {
  color: $mycolor-2;
  font-weight:800;
}


/* ------------ NAVBAR ------------ */
.navbar a {
    border: none;
    padding:17px;
   
}

.nav-link a{
    color:red;
}

.logo {
  width:200px;
}


#navlink a {
  color:#3C3C3B;
  font-family:'Muli';
  &:hover{
        color: $mycolor-1;
        }
}

/* ------------ TYPOGRAFIE ------------ */
.extra-bold {
  font-family: 'Muli-Extrabold';
}

.italic {
  font-family: 'Muli-Italic';
}

.typo-1 {
  text-transform: uppercase;
  color: $mycolor-2;
  font-weight:800;
  border-bottom:3px solid $mycolor-2;
  padding-bottom:3px;

}

.typo-2 {
  color: white;
  text-transform: uppercase;
  font-weight:800;
  background-color: $mycolor-1;
  padding:7px;
  line-height:40px;
}

/* ------------ KLEUREN ------------ */
.box {
  width:90px;
  height:90px;
  text-align:center;
  padding-top:35px;
}

.kleurcode {
  font-size:13px;
  color: #3C3C3B;
  padding-top:10px;
}

#geel, #roos, #paars, #blauw, #zwart {
  color: white;


}

.geel {
  background-color: #FFDF30;
  margin:15px;
}

.roos {
  background-color: #E73458;
  margin:15px;
}

.paars {
  background-color: #6859A3;
  margin:15px;
}

.blauw {
  background-color: #66C1BF;
  margin:15px;
}

.zwart {
  background-color: #3C3C3B;
  margin:15px;
}
/* ------------ LOGO ------------ */
.img-dont {
  width:240px;
  height:112px;
}

.text-dont {
  color:$mycolor-2;
  border-bottom:1px solid $mycolor-2;
  padding-bottom:1px;
}
/* ------------ TEMPLATES ------------ */
.bestand {
  font-size:13px;
  color: $color-grey-2;
  margin-left:10px;
}

.ppt {
  padding-left:40px;
  padding-top:10px;
  padding-bottom:20px;
}

/* ------------ PATROON ------------ */
.isobaren {
  margin-top:10px;
  margin-bottom:30px;
}
/* ------------ FOOTER ------------ */
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
      background-color: $color-black;
      padding-top:30px;
      padding-bottom:30px;

      font-size:13px;
      font-weight:300px;
      color: $color-white;
  

    a {
        color: $color-white;
        &:hover {
            
        }
    }
}

.gans {
  padding-bottom:100px;
}

/* ------------ BACK TO TOP ------------ */
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#66C1BF; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  padding:5px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:#498B89; 
  }
}
