// default-styling

body {
    font-family: 'Muli', 'Trebuchet MS', sans-serif;
    font-weight: $font-weight-base;
    font-size: 16px;
    line-height: 25px;
    color: $color-black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli';

    color: $color-black;
}

h1 {
    font-size: 48px;
    font-weight:800;
}
h2 {
    color: $mycolor-1;
    font-weight: 700;
    text-transform:uppercase;
    border-bottom:4px solid $mycolor-1;
    font-size: 25px;
    margin: 2rem 0 1rem;
}

h3 {
    padding-bottom:20px;
}

h3, h4, h6 {
    font-size: 18px;
    margin: 2rem 0 0;
    font-weight:800;
}

h5 {
    font-size:12px;
    padding-top:20px;
    padding-bottom:10px;
    line-height:20px;
    text-transform:uppercase;
    font-weight:800;
}

a {
    text-decoration:none;
    color: $mycolor-1;
    border-bottom:1px solid $mycolor-1;
    padding-bottom:2px;
    &:hover{
        text-decoration:none;
        color: $mycolor-5;
        border-bottom: 1px solid $mycolor-5;
    }
    &:active{
        color: $color-black;
        border-bottom: 1px solid $color-black;
    }
}

blockquote {
    padding-left: 24px;
    border-left: 2px solid $mycolor-2;
    margin-top: 30px;
}

// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    &:before {
        content:'\2022';
        color: $mycolor-4;
        margin-right: 18px;
    }    
  }
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    list-style: none;  
    margin: 0 0 1em;
    padding: 0;
    counter-reset: i 0;
    li {
      padding-left: 25px;
      text-indent: -25px;
      margin-bottom: 0.5rem;
      &:before {
        counter-increment: i;
        content: counter(i);    
        padding: 3px 6px;
        margin-right: 15px;
        border-radius: 0px;
        background-color: $mycolor-1;
        color: white;
        font-family: 'Muli';
      }    
    }
  }

//forms 
button, a.btn {
        border-radius:22px;
        background-color: $mycolor-1;
        border: 0px;
        color:white;
        padding: 10px 20px 10px 20px;
        cursor: pointer;
    &:hover{
        background-color: $mycolor-5;
    }
    &:active{
        background-color: $color-black;
    }
    &:focus{
        outline:0;
    }
}

button {
    margin-bottom:20px;
}
