 /* VERTICAL NAVIGATION BAR
 -------------------------------------------------- */
 @media (min-width: 768px) {
    .custom-nav-ver {
        .collapse {
            display: block;
        }
        .navbar-collapse {
            width:100%;
        }
        .dropdown-menu {
            position: static !important;
            width: 100%;
        }
        .navbar-nav {
            width: 100%;
        }
        .nav-item {
            width: 100%;
        }
        li.active .dropdown-menu {
            position: static !important;
            display: block  !important;
        }
     }

 }

 /* table of contents
 --------------------------- */
 #toc {
    margin-bottom: 1em;
    padding-top: 50px;
    margin-left:-20px;
    
    a {
    color: $color-black;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    font-weight:600;
    &:hover{
        color: $mycolor-1;
        border-left:0px;
        }
    &:active{
        color: $mycolor-5;
        }
    }
    .nav {
        display: block;
    }

 } 

 