<!DOCTYPE html>
<html lang="nl">
<head>
    <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}" >


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }} | VVW Huisstijlgids</title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v0.4.1/dist/bootstrap-toc.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
</head>
<body data-spy="scroll" data-target="#toc">  

<div class="container-fluid">
    <div class="row gans">
        <div class="col-12 col-md-3 col-lg-2 pt-0 mt-0 pl-5" id="nav-wit">
            {% include nav_ver_c.html %}
        </div>
        <div class="col-12 col-md-3 col-lg-2 pl-5 pt-5" id="toc-wit">
            <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
        </div>
        <main class="col-12 col-md-5 col-lg-5  pt-5" id="body">
            {{ content }}
        </main>
    </div>
</div>

{% include footer.html %}
{% include scripts-bottom.html %}

</body>
</html>